fastapi
uvicorn
python-multipart
PyPDF2
python-docx
python-pptx
python-frontmatter
markdown
pillow
pytesseract==0.3.13
sentence-transformers==2.2.2
faiss-cpu==1.8.0
faster-whisper==0.9.0
yt-dlp
pydub
transformers